<!-- User -->
<li class="nav-item">
	<ul class="navbar-nav">

		<!-- Login -->
		<li class="nav-item"
				ng-if="!user.id && state.id !== 'login' && 
								state.id !== 'password_frogot'">
			<a class="nav-link" 
				 ui-sref="login" 
				 ui-sref-active="active">
				<i class="fa-solid fa-right-to-bracket me-1"></i>
				<span class="text-capitalize text-small-caps">
					{{'login' | translate:lang.data}}
				</span>
			</a>
		</li>

		<!-- Register -->
		<li class="nav-item" 
				ng-if="!user.id && (state.id === 'login' || 
								state.id === 'password_frogot')">
			<a class="nav-link" 
				 ui-sref="register" 
				 ui-sref-active="active">
				<i class="fa-solid fa-id-card me-1"></i>
				<span class="text-capitalize text-small-caps">
					{{'register' | translate:lang.data}}
				</span>
			</a>
		</li>

		<!-- Account -->
		<li class="nav-item dropdown" 
				ng-if="user.id">
			<a id="dropdown-menu-user"
				 href="#" 
				 class="nav-link dropdown-toggle"
				 role="button" 
				 data-bs-toggle="dropdown" 
				 aria-expanded="false">

				<!-- Image -->
				<div class="bg-img bg-img-cover overflow-hidden rounded-circle d-inline-block float-start me-2" 
						 style="width:32px;height:32px;"
						 ng-style="{'background-image':user.img_type?'url(data:'+user.img_type+';base64,'+user.img+')	':'url	('	+app.commonPath+'media/image/blank/'+(user.gender==='F'?'fe':'')+'male-blank.webp)'}"
						 ng-show="user.img || user.gender">
				</div>
			
				<!-- Account title -->
				<div class="text-capitalize text-small-caps d-inline-block float-start">
					{{'account' | translate:lang.data}}
				</div>
			</a>

			<!-- Dropdown menu -->
			<ul class="dropdown-menu dropdown-menu-end" 
					aria-labelledby="dropdown-menu-user">

				<!-- User name/Nick name -->
				<li>
					<a class="dropdown-item disabled" href="#">
						<span class="text-capitalize text-small-caps" 
									ng-if="user.nick_name">
							{{user.nick_name}}
						</span>
						<span class="text-capitalize text-small-caps" 
									ng-repeat="k in lang.rule[lang.type]"
									ng-if="!user.nick_name">
							{{user[k]}}
						</span>
					</a>
				</li>

				<!-- Profile -->
				<li>
					<a class="dropdown-item"
						 ng-class="{'disabled': state.id === 'user' && userEvent === 'profile'}"
						 ui-sref="profile">
						<i class="fa-solid fa-user fa-lg"></i>
						<span class="text-capitalize text-small-caps">
							{{'profile' | translate:lang.data}}
						</span>
					</a>
				</li>
			
				<!-- Divider -->
				<li><hr class="dropdown-divider"></li>
			
				<!-- Logout -->
				<li>
					<a class="dropdown-item" 
						 href="javascript:void(0)" 
						 ng-click="logout()">
						<i class="fa-solid fa-right-from-bracket fa-lg"></i>
						<span class="text-capitalize text-small-caps">
							{{'logout' | translate:lang.data}}
						</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</li>